.button-component {
  position: relative;
  padding: 0.5rem 3rem;
  color: #fff;
  --primary: white;
  --secondary: gray;
  --success: green;
  --danger: #bb2d2d;
  --warning: yellow;
  --info: lightblue;
}
.button-component:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button-component.contained {
  /*  */
}
.button-component.outlined {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}
.button-component.reversed {
  border-width: 1px;
  border-style: solid;
  border-color: #444;
  box-sizing: border-box;
  background-color: #222;
  font-weight: 600;
}
.button-component.contained.primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: black;
}
.button-component.contained.secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.button-component.contained.success {
  background-color: var(--success);
  border-color: var(--success);
}
.button-component.contained.danger {
  background-color: var(--danger);
  border-color: var(--danger);
}
.button-component.contained.warning {
  background-color: var(--warning);
  border-color: var(--warning);
}
.button-component.contained.info {
  background-color: var(--info);
  border-color: var(--info);
}
.button-component.outlined.primary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}
.button-component.outlined.secondary {
  background-color: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
}
.button-component.outlined.success {
  background-color: transparent;
  border-color: var(--success);
  color: var(--success);
}
.button-component.outlined.danger {
  background-color: transparent;
  border-color: var(--danger);
  color: var(--danger);
}
.button-component.outlined.warning {
  background-color: transparent;
  border-color: var(--warning);
  color: var(--warning);
}
.button-component.outlined.info {
  background-color: transparent;
  border-color: var(--info);
  color: var(--info);
}
.button-component.reversed.primary {
  color: var(--primary);
}
.button-component.reversed.secondary {
  color: var(--secondary);
}
.button-component.reversed.success {
  color: var(--success);
}
.button-component.reversed.danger {
  color: var(--danger);
}
.button-component.reversed.warning {
  color: var(--warning);
}
.button-component.reversed.info {
  color: var(--info);
}
